# Titanics Questions

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read in the test data using the following line

In [2]:
#raw_training=pd.read_csv('/Users/deepakmahtani/.kaggle/competitions/titanic/train.csv')

In [4]:
raw_training=pd.read_csv('train.csv')

# Question 1: How many entries (i.e rows) are there in the data?

In [5]:
print('The raw data contains', len(raw_training), 'entries')

The raw data contains 891 entries

# Question 2: Which columns have null values and how many in missing values are there in each?

In [6]:
raw_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [ ]:
#print('The columns that are missing values are the age,',(891-714),',the cabin,',(891-204),
#      ',and the embarked,',(891-889),'columns')

In [19]:
print('The columns that are missing values are the age are, %s ,the cabin, %s, and the embarked, %s.'%((891-714),(891-204),(891-889)))

The columns that are missing values are the age are, 177 ,the cabin,687, and the embarked,2.

# Question 3: Ignoring the missing values, what is the mean, median and standard devation of ages of the passengers on the ship and what is the distribution of their ages

In [ ]:
#ages=raw_training[pd.notnull(raw_training['Age'])]['Age']

#mean_age=np.mean(ages)
#print('The mean age of those on the ship, ignoring the missing values, is ', mean_age)

#median_age=np.median(ages)
#print('The median age of those on the ship, ignoring the missing values, is ', median_age)

#SD_age=np.std(ages)
#print('The standard deviation of age of those on the ship, ignoring the missing values, is ', SD_age)

#ages.plot(kind='hist')

In [13]:
ages=raw_training[pd.notnull(raw_training['Age'])]['Age']

mean_age=np.mean(ages)
median_age=np.median(ages)
SD_age=np.std(ages)

print('Ignoring the missing values, the mean age is %s, the median age is %s and the STDEV age is %s' 
      %(round(mean_age,2),round(median_age,2),round(SD_age,2)))

Ignoring the missing values, the mean age is 29.7, the median age is 28.0 and the STDEV age is 14.52

# Question 4: how many men and women were aboard the ship

In [ ]:
#male=raw_training['Sex'][raw_training['Sex'] == 'male']
#print('Number of men on ship', len(male))

#female=raw_training['Sex'][raw_training['Sex'] == 'female']
#print('Number of women on ship', len(female))

In [16]:
male=raw_training['Sex'][raw_training['Sex'] == 'male']
female=raw_training['Sex'][raw_training['Sex'] == 'female']

print('The number of men on the ship is %s and the number of women on the ship is %s' %(len(male),len(female)))

The number of men on the ship is 577 and the number of women on the ship is 314

# Question 5: How many men and how many women survived

In [ ]:
#men=raw_training[['Sex','Survived']][raw_training['Sex'] == 'male']
#men_survived=men[men['Survived'] == 1]
#print('The Number of men who survived is ', len(men_survived))

#women=raw_training[['Sex','Survived']][raw_training['Sex'] == 'female']
#women_survived=women[women['Survived'] == 1]
#print('The Number of women who survived is ', len(women_survived))

In [18]:
men=raw_training[['Sex','Survived']][raw_training['Sex'] == 'male']
men_survived=men[men['Survived'] == 1]

women=raw_training[['Sex','Survived']][raw_training['Sex'] == 'female']
women_survived=women[women['Survived'] == 1]

print('The Number of Men who survived is %s and the number of women who survived is %s' %(len(men_survived),len(women_survived)))

The Number of Men who survived is 109 and the number of women who survived is 233