the data is located /Users/deepakmahtani/.kaggle/competitions/titanic

First thing to do is to import some standard packages

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

Now lest read in the training data and test data

In [2]:
raw_training=pd.read_csv('/Users/deepakmahtani/.kaggle/competitions/titanic/train.csv')
raw_test=pd.read_csv('/Users/deepakmahtani/.kaggle/competitions/titanic/test.csv')

In [3]:
print('The raw training data contains', len(raw_training), 'entries')
print('The raw test data contains', len(raw_test), 'entries')

The raw training data contains 891 entries
The raw test data contains 418 entries

In [4]:
raw_training.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Now lets look at the columns

In [5]:
print('The column labels are',list(raw_training.columns))

The column labels are ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

How many null values are there in this data?

In [6]:
raw_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
print('The columns that are missing values are the age,',(891-714),',the cabin,',(891-204),
      ',and the embarked,',(891-889),'columns')

The columns that are missing values are the age, 177 ,the cabin, 687 ,and the embarked, 2 columns

After chatting with John the columns we are going to use are Survived, pclass, sex, age,SibSp and Parch

In [8]:
training_to_use=raw_training[['PassengerId', 'Survived', 'Pclass','Sex','Age','SibSp', 'Parch']]


test_to_use=raw_test[['PassengerId', 'Pclass','Sex','Age','SibSp', 'Parch']]

I know that the gender column is very important but we need to change this from male and female to a numeric value so lets change this in both the training and text set

In [9]:
training_to_use.replace(to_replace='male', value=0, inplace=True)
training_to_use.replace(to_replace='female', value=1, inplace=True)

test_to_use.replace(to_replace='male', value=0, inplace=True)
test_to_use.replace(to_replace='female', value=1, inplace=True)

/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

now lets replace the missing age values in the data with the median value. The reason we have chosen the median age and not the mean age is beacuse it is less affected by outliers

In [10]:
median_age_training=np.median(training_to_use[pd.notnull(training_to_use['Age'])]['Age'])

median_age_test=np.median(test_to_use[pd.notnull(test_to_use['Age'])]['Age'])

print("median age for the training set", median_age_training)
print("median age for the test set", median_age_test)

median age for the training set 28.0
median age for the test set 27.0

In [11]:
clean_age_train=training_to_use['Age'].fillna(median_age_training)
clean_age_test=test_to_use['Age'].fillna(median_age_test)

training_to_use['clean_age']=clean_age_train
test_to_use['clean_age']=clean_age_test

/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Now lets creat the two data frames to be used for the training and testing of the model

In [12]:
clean_data_training=training_to_use[['PassengerId','Survived', 'Pclass', 'Sex',
                                     'SibSp', 'Parch','clean_age']]

clean_data_test=test_to_use[['PassengerId', 'Pclass', 'Sex','SibSp', 'Parch', 'clean_age']]

Next I will initiate the random forrest object

In [13]:
forrest_classifier=RandomForestClassifier()

now lets take the clean training data and split it into X (features) and y (target variable)

In [14]:
X=clean_data_training[['Pclass', 'Sex','SibSp', 'Parch','clean_age']]
y=clean_data_training['Survived']

Now I will conduct 5-fold cross validation to see how well this model performs. The default scoring system for the random forrest is accuracy

In [15]:
accuracy = cross_val_score(forrest_classifier, X, y, cv=5)

In [16]:
print('so the accuracy for this model varies from',min(accuracy), 'to', max(accuracy))

so the accuracy for this model varies from 0.7653631284916201 to 0.8426966292134831

In [17]:
accuracy

array([0.76536313, 0.79329609, 0.84269663, 0.78651685, 0.83615819])

so now lets see how well it does on the test set, first lets fit the model on the training data

In [18]:
forrest_classifier.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

# to optimise this, need to termiate splition of leaves at some point, this is done through min sample split, and n_estimators. max number of trees will be 24, e.g. 2, 5, 10, 24, 50. differnt algorithms, SVM, XGboost, logistic regression,nieve bayes.

now lets creat the training data on which to make the predictions

In [19]:
X_test=clean_data_test[['Pclass', 'Sex','SibSp', 'Parch','clean_age']]

now lets use the model to make the predictions

In [20]:
predicts=forrest_classifier.predict(X_test)

creat a data frame to upload to kaggle to see how well it performs

In [21]:
results=clean_data_test[['PassengerId']]
results['Survived']=predicts

/Users/deepakmahtani/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
results.to_csv('random_forrest_first_attempt.csv',index=False)

this gave me a score of 0.65071, so the model does need some optimisation :)